* { margin: 0; padding: 0; }

body { background: #221F1F!important; font-family: "Source Sans", sans-serif; font-size: 62.5%; line-height: 1; }

a { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; }

img { border: 0; }
img.photo { padding: 2px; background: #888; border: 1px solid #cecece; border-bottom-color: #aaa; border-right-color: #aaa; float: right; margin-left: 20px; margin-right: 11px; }

ul,ol,h1,h2,h3,h4,h5,h6,p { display: block; }

header#top-header { background: #221F1F; height: 110px; width: 100%; }

#logo-tablet { float: left; margin-top: 20px; }

#social-share { float: right; padding: 20px 0; text-align: right; width: 245px; overflow: hidden; }

#viewer { margin: 0 auto; width: 1032px; }

.viewer_chrome { position: relative; height: 45px; background-color: #000000; background-color: #000000; }

.toolbox { float: right; }

.button_default_style { padding: 0 2px; width: 32px; height: 32px; display: inline-block; }

.button_facebook { background: url('/azmagazine/images/az-icon-facebook.png') no-repeat; }
.button_twitter { background: url('/azmagazine/images/az-icon-twitter.png') no-repeat; }
.button_googleplus { background: url('/azmagazine/images/az-icon-google.png') no-repeat; }
.button_appstore { background: url('/azmagazine/images/az-button-appstore.png') no-repeat; position: relative; width: 116px; height: 58px; display: block; top: 40px; left: 129px; }

header#headerBar { height: 20px; background: #444442;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#444442), color-stop(0.2, #444442), color-stop(0.2 , #2A2A28), to(#2A2A28)); }
			
/** @group core body **/

#viewer section#content { display: block; background: #2A2A28; padding: 0 4px 4px; min-height: 550px; height: 100%; z-index: 9999; }

#viewer footer#previous { background: #2A2A28; color: #D2D0B2; font-size: 20px; }

#viewer footer#previous span { background: #3A3A38; display: block; height: 40px; line-height: 40px; text-align: center; margin: 0 4px; }

#viewer footer#slider {background: #221F1F; margin: 0 auto; border: 1px solid #3A3A38; }

#viewer footer#slider h2 { margin-top: 2px; font-size: 10px; }

#viewer footer#slider.scroll-img ul { width: 1500px; }


/** @group misc **/

.scroll-img { width: 961px; height: 226px; overflow: hidden; }

.scroll-img ul li { height: 95px; display: inline-block; padding: 15px 11px; white-space: nowrap; margin: 10px 0 10px 9px; }

.scroll-img li { border:none; text-align:center; }

#viewer footer#previous #prev { float: left; position: relative; bottom: 130px; left: 12px; cursor: pointer; }

#viewer footer#previous #next { float: right; position: relative; bottom: 130px; right: 12px; cursor: pointer }

.blue { color: #1c609f !important; font-weight: bold; }

/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
